body{
	background-color: rgb(56, 56, 56);
	color: #DDD;
	height:30%;
}
ul{
	list-style: none;
}
li{
		width:100%;
		height:auto;
}
#divcenter{
	margin-top: 15%;
    margin-right: 40%;
    margin-left: 40%;
	width:45%;
	-webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
}
#divimgs img{
	-webkit-transition: opacity 1s ease-in-out;
  	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
  	width:140px;
}
#divimgs img.transparent{
	opacity: 0;
}
  /* Properties for larger screens */
@media only screen and (min-device-width: 1024px){ 
  	#divcenter{
    	-webkit-transform: none; /* Chrome, Safari, Opera */
    	transform: none;
    	margin-top: 0%;
  	}
	ul{
		position:absolute;
		left:45%;
	}
	
  }
