body{
    background-color: #383838;
    color:#EEE;

}
.selected{
	padding:5px;
	background-color: rgba(0,0,0,0.3);
}
a{
	transition-duration: 1s;
	transition-property: background-color,padding;
  color:#EEE;
}
#map{
	float:left;
  width: 450px;
  height:100%;
}
ul{
	list-style: none;
}
#namelist{
    float:left;
}
#information{
    border: solid;
    margin-top:1%;
    border-bottom-color: rgba(255,255,255,0.6);
    border-right-color:rgba(255,255,255,0.6);
    padding:5px;
    width:100%;
}
/*Towns selection coordinates*/
#selectedtown{
	opacity:0;
}


.Cianwood_City,.Olivine_City,.Ecruteak_City,.Mahogany_Town,
.Blackthorn_City,.Indigo_Plateau,.Violet_City,.Goldenrod_City,
.Azalea_Town,.Cherrygrove_City,.New_Bark_Town,.Pallet_Town,
.Cinnabar_Island,.Viridian_City,.Pewter_City,.Cerulean_City,
.Saffron_City,.Lavender_Town,.Celadon_City,.Vermilion_City,
.Fuchsia_City {
	position: absolute;
	float: none !important;
	opacity: 1 !important;
  transition-duration: 0.5s;
    transition-property: left,top;
}
.Cianwood_City{
	left: 54px;
	top: 102;
}
.Olivine_City{
	left: 78px;
	top: 54px;
}
.Ecruteak_City{
    left: 118px;
    top: 38px;
}
.Mahogany_Town {
    left: 166px;
    top: 38px;
}
.Blackthorn_City {
    left: 206px;
    top: 38px;
}
.Indigo_Plateau {
    left: 254px;
    top: 46px;
}
.Violet_City{
    left: 134px;
    top: 54px;
}
.Goldenrod_City {
	left: 102px;
    top: 94px;
}
.Azalea_Town {
    left: 118px;
    top: 134px;
}
.Cherrygrove_City {
    left: 158px;
    top: 102px;
}
.New_Bark_Town{
	left: 214px;
    top: 102px;
}
.Pallet_Town{
    left: 270px;
    top: 110px;
}
.Cinnabar_Island{
    left: 270px;
    top: 134px;
}

.Viridian_City {
    left: 270px;
    top: 86px;
}
.Pewter_City {
    left: 270px;
    top: 54px;
}

.Cerulean_City {
    left: 350px;
    top: 46px;
}

.Saffron_City {
	left: 350px;
    top: 70px;
}
.Lavender_Town {
    left: 382px;
    top: 70px;
}
.Celadon_City {
    left: 326px;
    top: 70px;
}
.Vermilion_City {
    left: 350px;
    top: 94px;
}
.Fuchsia_City {
    left: 334px;
    top: 117px;
}
